@page "/"
@model MusicApp.Pages.Artists.IndexModel
@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>

<ul>
    @foreach (var artist in Model.Artists)
    {
        <li>
            <a asp-page="./Albums" asp-route-id="@artist.Id">@artist.name</a>
            <span> | </span>
            <a asp-page="./EditArtist" asp-route-id="@artist.Id">Edit</a>
            <span> | </span>
            <a asp-page="./DeleteArtist" asp-route-id="@artist.Id">Delete</a>
        </li>
    }
</ul>

<div>
    <a asp-page="./CreateArtist">Create New Artist</a>
</div>
