@model MusicApp.Models.Artist

@{
    ViewData["Title"] = "Albums";
}

<h1>@Model.name - Albums</h1>

<ul>
    @foreach (var album in Model.albums)
    {
        <li>
            <a asp-action="./AlbumDetails" asp-route-artistId="@Model.Id" asp-route-albumId="@album.Id">@album.title</a>
        </li>
    }
</ul>
